<!-- Battle -->
<div class="skill">{{ localize 'dune2d20.actor.battle' }} <a class="roll-skill" title="{{localize 'dune2d20.hint.rollSkill'}}" data-skill="battle"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.skills.battle.value" type="number" value="{{data.system.skills.battle.value}}" min="{{data.system.skills.battle.min}}" max="{{data.system.skills.battle.max}}" readonly/></div>
<div class="focuses"><textarea name="system.skills.battle.focuses" readonly>{{data.system.skills.battle.focuses}}</textarea></div>
<div class="stat-end"> </div>
<!-- Communicate -->
<div class="skill">{{ localize 'dune2d20.actor.communicate' }} <a class="roll-skill" title="{{localize 'dune2d20.hint.rollSkill'}}" data-skill="communicate"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.skills.communicate.value" type="number" value="{{data.system.skills.communicate.value}}" min="{{data.system.skills.communicate.min}}" max="{{data.system.skills.communicate.max}}" readonly/></div>
<div class="focuses"><textarea name="system.skills.communicate.focuses" readonly>{{data.system.skills.communicate.focuses}}</textarea></div>
<div class="stat-end"> </div>
<!-- Discipline -->
<div class="skill">{{ localize 'dune2d20.actor.discipline' }} <a class="roll-skill" title="{{localize 'dune2d20.hint.rollSkill'}}" data-skill="discipline"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.skills.discipline.value" type="number" value="{{data.system.skills.discipline.value}}" min="{{data.system.skills.discipline.min}}" max="{{data.system.skills.discipline.max}}" readonly/></div>
<div class="focuses"><textarea name="system.skills.discipline.focuses" readonly>{{data.system.skills.discipline.focuses}}</textarea></div>
<div class="stat-end"> </div>
<!-- Move -->
<div class="skill">{{ localize 'dune2d20.actor.move' }} <a class="roll-skill" title="{{localize 'dune2d20.hint.rollSkill'}}" data-skill="move"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.skills.move.value" type="number" value="{{data.system.skills.move.value}}" min="{{data.system.skills.move.min}}" max="{{data.system.skills.move.max}}" readonly/></div>
<div class="focuses"><textarea name="system.skills.move.focuses" readonly>{{data.system.skills.move.focuses}}</textarea></div>
<div class="stat-end"> </div>
<!-- Understand -->
<div class="skill">{{ localize 'dune2d20.actor.understand' }} <a class="roll-skill" title="{{localize 'dune2d20.hint.rollSkill'}}" data-skill="understand"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.skills.understand.value" type="number" value="{{data.system.skills.understand.value}}" min="{{data.system.skills.understand.min}}" max="{{data.system.skills.understand.max}}" readonly/></div>
<div class="focuses"><textarea name="system.skills.understand.focuses" readonly>{{data.system.skills.understand.focuses}}</textarea></div>
<div class="stat-end"> </div>