<!-- Duty -->
<div class="drive">{{ localize 'dune2d20.actor.duty' }} <a class="roll-drive" title="{{localize 'dune2d20.actor.rollDrive'}}" data-drive="duty"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.drives.duty.value" type="number" value="{{data.system.drives.duty.value}}" min="{{data.system.drives.duty.min}}" max="{{data.system.drives.duty.max}}" readonly/></div>
<div class="statement"><textarea name="system.drives.duty.statement" readonly>{{data.system.drives.duty.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Faith -->
<div class="drive">{{ localize 'dune2d20.actor.faith' }} <a class="roll-drive" title="{{localize 'dune2d20.actor.rollDrive'}}" data-drive="faith"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.drives.faith.value" type="number" value="{{data.system.drives.faith.value}}" min="{{data.system.drives.faith.min}}" max="{{data.system.drives.faith.max}}" readonly/></div>
<div class="statement"><textarea name="system.drives.faith.statement" readonly>{{data.system.drives.faith.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Justice -->
<div class="drive">{{ localize 'dune2d20.actor.justice' }} <a class="roll-drive" title="{{localize 'dune2d20.actor.rollDrive'}}" data-drive="justice"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.drives.justice.value" type="number" value="{{data.system.drives.justice.value}}" min="{{data.system.drives.justice.min}}" max="{{data.system.drives.justice.max}}" readonly/></div>
<div class="statement"><textarea name="system.drives.justice.statement" readonly>{{data.system.drives.justice.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Power -->
<div class="drive">{{ localize 'dune2d20.actor.power' }} <a class="roll-drive" title="{{localize 'dune2d20.actor.rollDrive'}}" data-drive="power"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.drives.power.value" type="number" value="{{data.system.drives.power.value}}" min="{{data.system.drives.power.min}}" max="{{data.system.drives.power.max}}" readonly/></div>
<div class="statement"><textarea name="system.drives.power.statement" readonly>{{data.system.drives.power.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Truth -->
<div class="drive">{{ localize 'dune2d20.actor.truth' }} <a class="roll-drive" title="{{localize 'dune2d20.actor.rollDrive'}}" data-drive="truth"><i class="fa-solid fa-dice-d20"></i></a></div>
<div class="val"><input name="system.drives.truth.value" type="number" value="{{data.system.drives.truth.value}}" min="{{data.system.drives.truth.min}}" max="{{data.system.drives.truth.max}}" readonly/></div>
<div class="statement"><textarea name="system.drives.truth.statement" readonly>{{data.system.drives.truth.statement}}</textarea></div>
<div class="stat-end"> </div>