<!-- Duty -->
<div class="drive">{{ localize 'dune2d20.actor.duty' }}</div>
<div class="val"><input name="system.drives.duty.value" type="number" value="{{data.system.drives.duty.value}}" min="{{data.system.drives.duty.min}}" max="{{data.system.drives.duty.max}}"/></div>
<div class="statement"><textarea name="system.drives.duty.statement">{{data.system.drives.duty.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Faith -->
<div class="drive">{{ localize 'dune2d20.actor.faith' }}</div>
<div class="val"><input name="system.drives.faith.value" type="number" value="{{data.system.drives.faith.value}}" min="{{data.system.drives.faith.min}}" max="{{data.system.drives.faith.max}}"/></div>
<div class="statement"><textarea name="system.drives.faith.statement">{{data.system.drives.faith.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Justice -->
<div class="drive">{{ localize 'dune2d20.actor.justice' }}</div>
<div class="val"><input name="system.drives.justice.value" type="number" value="{{data.system.drives.justice.value}}" min="{{data.system.drives.justice.min}}" max="{{data.system.drives.justice.max}}"/></div>
<div class="statement"><textarea name="system.drives.justice.statement">{{data.system.drives.justice.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Power -->
<div class="drive">{{ localize 'dune2d20.actor.power' }}</div>
<div class="val"><input name="system.drives.power.value" type="number" value="{{data.system.drives.power.value}}" min="{{data.system.drives.power.min}}" max="{{data.system.drives.power.max}}"/></div>
<div class="statement"><textarea name="system.drives.power.statement">{{data.system.drives.power.statement}}</textarea></div>
<div class="stat-end"> </div>
<!-- Truth -->
<div class="drive">{{ localize 'dune2d20.actor.truth' }}</div>
<div class="val"><input name="system.drives.truth.value" type="number" value="{{data.system.drives.truth.value}}" min="{{data.system.drives.truth.min}}" max="{{data.system.drives.truth.max}}"/></div>
<div class="statement"><textarea name="system.drives.truth.statement">{{data.system.drives.truth.statement}}</textarea></div>
<div class="stat-end"> </div>