<div class="adv-det-grid ">
    <div class="title left">{{ localize 'dune2d20.actor.advancement' }}</div>
    <div class="title right">{{ localize 'dune2d20.actor.determination' }}</div>
    <div class="back"> </div>
    <div class="val adv"><input name="system.resources.advancementPoints.value" type="number" value="{{data.system.resources.advancementPoints.value}}" min="{{data.system.resources.advancementPoints.min}}" readonly></div>
    <div class="val det"><input name="system.resources.determination.value" type="number" value="{{data.system.resources.determination.value}}" min="{{data.system.resources.determination.min}}" max="{{data.system.resources.determination.max}}" readonly></div>
</div>