{{#each enemies as |enemy id|}}
<div class="enemy-block">
    <div class="enemy-top"> </div>
    <div class="enemy item" data-item-id="{{enemy._id}}" data-item-type="enemy">
        <div class="enemy-name">{{enemy.name}}</div>
        <div class="hatred"><i class="fa-solid fa-heart-crack" title="{{localize 'dune2d20.hint.hatred'}}"></i></div>
        <div class="hatred">{{configLocalize "hatred" enemy.system.hatred}}</div>
        <a class="edit-item" title="{{localize 'dune2d20.hint.editEnemy'}}"><i class="fa-regular fa-sliders"></i></a>
        <div class="enemy-title">{{localize 'dune2d20.actor.type'}}</div>
        <div class="enemy-stat">{{configLocalize "houseType" enemy.system.houseType}}</div>
        <a class="remove-item" title="{{localize 'dune2d20.hint.removeEnemy'}}"><i class="fa-solid fa-hexagon-xmark"></i></a>
        <div class="enemy-title">{{localize 'dune2d20.actor.reason'}}</div>
        <div class="enemy-stat">{{enemy.system.reason}}</div>
    </div>
    <div class="enemy-bottom"> </div>
</div>
{{/each}}