<div class="bg-name">{{ localize 'dune2d20.actor.houseName' }}</div>
<div class="bg-start"></div>
<div class="bg-data"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'dune2d20.actor.houseNamePlaceholder' }}"/></div>
<div class="bg-end"></div>
<div class="bg-name">{{ localize 'dune2d20.actor.homeworld' }}</div>
<div class="bg-start"></div>
<div class="bg-data"><input name="system.homeworld" type="text" value="{{data.system.homeworld}}"/></div>
<div class="bg-end"></div>
<div class="bg-name">{{ localize 'dune2d20.actor.houseType' }}</div>
<div class="bg-start"></div>
<div class="bg-data">
    <select name="system.houseType">
        {{#select data.system.houseType}}
            {{#each config.houseType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}} 
    </select>
</div>
<div class="bg-end"></div>
<div class="bg-name">{{ localize 'dune2d20.actor.traits' }}</div>
<div class="bg-start"></div>
<div class="bg-data border">
    {{#each traits as |trait id|}}
        <div class="trait item" data-item-id="{{trait._id}}" data-item-type="trait">• {{trait.name}}
            <a class="remove-item" title="{{localize 'dune2d20.hint.removeTrait'}}"><i class="fa-solid fa-hexagon-xmark"></i></a>
        </div>
    {{/each}}
</div>
<div class="bg-end"></div>
<div class="bg-name">{{ localize 'dune2d20.actor.motto' }}</div>
<div class="bg-start"></div>
<div class="bg-data"><input name="system.motto" type="text" value="{{data.system.motto}}"/></div>
<div class="bg-end"></div>