<div class="role-name left">{{ localize 'dune2d20.actor.ruler' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.marshall' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.ruler" type="text" value="{{actor.system.ruler}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.marshall" type="text" value="{{actor.system.marshall}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.consort' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.scholar' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.consort" type="text" value="{{actor.system.consort}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.scholar" type="text" value="{{actor.system.scholar}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.heir' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.spymaster' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.heir" type="text" value="{{actor.system.heir}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.spymaster" type="text" value="{{actor.system.spymaster}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.advisor' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.swordmaster' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.advisor" type="text" value="{{actor.system.advisor}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.swordmaster" type="text" value="{{actor.system.swordmaster}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.chiefPhysician' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.treasurer' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.chiefPhysician" type="text" value="{{actor.system.chiefPhysician}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.treasurer" type="text" value="{{actor.system.treasurer}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.councillor' }}</div>
<div class="role-name right">{{ localize 'dune2d20.actor.warmaster' }}</div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.councillor" type="text" value="{{actor.system.councillor}}" readonly/></div>
<div class="role-end"> </div>
<div> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.warmaster" type="text" value="{{actor.system.warmaster}}" readonly/></div>
<div class="role-end"> </div>

<div class="role-name left">{{ localize 'dune2d20.actor.envoy' }}</div>
<div class="role-name right"> </div>
<div class="role-start"> </div>
<div class="role-data"><input name="system.envoy" type="text" value="{{actor.system.envoy}}" readonly/></div>
<div class="role-end"> </div>